.lista-chamados {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.item-chamado {
  background: var(--dark-2);
  border: 1px solid var(--dark-3);
  padding: 16px;
  border-radius: 10px;
}

.item-chamado .id {
  margin: 0 0 6px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--accent);
}

.item-chamado p {
  margin: 3px 0;
  color: var(--white);
}

.btn, .btn-ghost {
  width: 100%;
}

.card {
  width: 380px !important;
}
