.btn-logout {
  margin-top: 20px;
  background: transparent;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.2s;
}

.btn-logout:hover {
  background: #e74c3c;
  color: white;
}
